body {
  font-family: Rubik, Arial, sans-serif;
  background-color: #eee;
  color: rgb(33, 33, 33);
  /* color: rgb(33, 33, 33); */
  /* The <body> element has a default margin of 8px
     on all sides. This removes the default margins. */
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: Rubik, Arial, sans-serif;
  font-size: 18px;
}

/* <p> elements have a default margin on the top
   and bottom. This removes the default margins. */
p {
  margin: 0;
}

/* Set a style for all buttons */ 
.button {
  font-size: 16px;
  /* background-color: rgb(0, 207, 187); */
  color: rgb(70,80,98);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancel-button {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(244 66 58);
  border-radius: 5px;
  background-image:
    radial-gradient(75% 50% at 50% 0%, rgb(245, 214, 213), transparent),
    radial-gradient(75% 35% at 50% 85%, rgb(207, 40, 32), transparent);
  box-shadow:
    inset 0 -2px 4px 1px rgba(244, 66, 58, .6),
    /* inset 0 -4px 4px 1px rgba(255, 192, 63, 1), */
    inset 0 0 2px 1px rgba(255, 255, 255, .2),
    0 1px 4px 1px rgba(244, 66, 58, .2),
    0 1px 4px 1px rgba(0, 0, 0, .1);
  /* text-shadow: 0 1px 1px rgba(255, 191, 63, 0.756); */

  &:hover {
    transform: scale(1.04);
  }
    
  &:active {
    /* border-color: #0048d5; */
    transform: scale(.94);
    background-color: rgb(96, 201, 47);
  }
}